version: '3.8'
services:
  web:
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://sevginuser:sevginpass@db:5432/sevginme_db
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: sevginuser
      POSTGRES_PASSWORD: sevginpass
      POSTGRES_DB: sevginme_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
